

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#adb5bd;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .height{
        height: 100vh;
       }
       

       .search{
       position: relative;
       
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }
       .search input:focus{

        box-shadow: none;
        border: 2px solid black;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #4e5358;

       }
       .search button:hover{
        color: white;
        background-color: black;
       }




        .ret{
        margin: 25px 0;
        display: inline-flex;
        
      }
      .ret{
        display: inline-block;
        margin: 30px;
        text-decoration: none;
        border: 2px solid black;
        color:black;
        font-weight: 500;
        padding: 10px 25px;
        border-radius: 25px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        align-items: center;
        

       
        position: relative; 
        left: 18em;  
      }

      .ret:hover{
        background: black;
        color: white;
      }