.style {
    opacity: 0.9;
}

.con {
    height: 500px;
    z-index: -1;
}

.navback a{
    border-radius: 20px;
}
.navback a:hover{
    background-color: white;
    color: black;
}

#logoh {
    height: 50px;
    position: relative;
    right: -1020px;
    border-radius: 11px;
}